<div class="quizz__container">
    <div class="quizz_logo">
        <img src="../../../assets/img/logo.png" alt="Imagem da logo">
        <h3>{{title}}</h3>
    </div>

    <div class="quizz_questions">
        <h3>{{questionSelected}}</h3>
    </div>

    <div class="quizz_options">
        <button class="btn_option">optionname</button>
    </div>

    @if (!finished) {
        <div class="quizz_results">
            <h1>O seu resultado é:</h1>
            <p>Resposta Selecionada</p>
        </div>
    }
</div>
